<h2>新規作成画面</h2>
<% if @pin.errors.any? %>
  <ul>
  <% @pin.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<%= form_with model: @pin, local: true do |f| %>
  <div>
    <%= f.label :data_type, "種別: " %>
    <%= f.text_field :data_type, value: @pin.data_type, readonly: true %>
  </div>
  <div>
    <%= f.label :floor, "階数: " %>
    <%= f.text_field :floor, value: @pin.floor, readonly: true %>
  </div>
  <div>
    <%= f.label :lat, "緯度: " %>
    <%= f.text_field :lat, value: @pin.lat, readonly: true %>
  </div>
  <div>
    <%= f.label :lat, "経度: " %>
    <%= f.text_field :lng, value: @pin.lng, readonly: true %>
  </div>
  <hr>
  <div>
    <%= f.fields_for :elevator do |g| %>
      <%= g.label :description, "説明: "%>
      <%= g.text_area :description %>
      <div>
        <p>「どこから > どこまで」、となるよう書いてください</p>
        <ul style="list-style:none;">
          <li>
            <%= g.label :from, "どこから: "%>
            <%= g.number_field :from,value: 1 %>階
          </li>
          <li>
            <%= g.label :to, "どこまで: " %>
            <%= g.number_field :to, value: 1 %>階
          </li>
        </ul>
      </div>      


    <% end %>

    <%= f.fields_for :restroom do |g| %>
      <%= g.label :description, "説明: "%>
      <%= g.text_area :description %>
      <%= g.label :is_multipurpose, "多目的トイレ"%>
      <%= g.select :is_multipurpose, [["あり",true],["なし",false]]%>
    <% end %>

    <%= f.fields_for :step do |g| %>
      <%= g.label :description, "説明: "%>
      <%= g.text_area :description %>
      <%= g.label :level, "レベル: "%>
      <%= g.select :level, [
        ["一人で乗り越えられるが危険", 1],
        ["介助者がいれば乗り越えられる", 2],
        ["介助者がいても乗り越えるのが難しい", 3]
      ], prompt: "選択してください" %>
    <% end %>

    <%= f.fields_for :slope do |g| %>
      <%= g.label :description, "説明: "%>
      <%= g.text_area :description %>
      <%= g.label :level, "レベル: "%>
      <%= g.select :level, [
        ["一人でも上り下りできる", 1],
        ["介助者がいれば上り下りできる", 2],
        ["介助者がいても上り下りが難しい", 3]
      ], prompt: "選択してください" %>

    <% end %>
  </div>
  <%= f.submit '投稿' %>
<% end %>
<%= link_to '戻る', pins_path %>